body {
    background-color: black;
    background-image: linear-gradient(to top, #FFFFFF, #0000FF);
    color: #ffA500;
    font-family: Helvetica Neue, Helveltica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    align-content: center;
    text-shadow: 1px 1px 1px #000000;
}

footer {
    background-image: url(images/favicon-32x32.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    font-size: 75%;
    font-style: italic;
    margin-top: 10px;
}

h1 {
    background-color: #FFA500;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #828282;
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    margin-top: 10px;
    opacity: 0.6;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #666;
}

h2 {
    font-family: Arial Narrow, Arial, sans-serif;
    margin-top: 100px;
    color: #FFA500;
    text-shadow: 1px 1px 1px #000000;
}

li {
    list-style-type: disc;
}

a {
    font-size: 125%;
    font-weight: bold;
    margin: 0 0 5px 5px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

main {
    margin-top: 10px;
    padding: 10px;
}

header {
    position: fixed;
    position: absolute;
    width: 100%;
}

.headerTextColor {
    color: #0000FF;
}

ul {
    list-style-type: none;
    text-shadow: 1px 1px 1px #000000;
}

nav li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    color: #FFA500;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    font-size: 175%
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    text-decoration: none;
    color: #008000;
}

nav a:active {
    text-decoration: none;
    color: #FFFF00;
}

@media only screen and (max-width: 768px) {
    h1,
    h2 {
        font-size: 100%;
    }
    nav,
    nav ul,
    nav li {
        padding: 0;
    }
    nav li {
        display: block;
    }
    nav a {
        display: block;
        padding: 0.5em 0;
        border-bottom: 2px ridge #00005D;
    }
}